* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*reset simplificado*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0e1a;
    color: #f2f2f2;
    line-height: 1.6;
}

.navegacao {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.navegacao h1{
    background: radial-gradient( at left top, #FF6900, #f2f2f2);
    background-clip: text; /* preenche somente os textos com o fundo que foi definido. */
    color: transparent; /* deixa a cor natural do texto, transparente, nesse caso a cor preta. */
}

/* Header */
header {
    background-color: #000000;
    padding: 15px 0;
    position: relative; /* necessário para o ::after funcionar */
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #FF6900, #FFA500);
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
     transition: transform 0.3s;
}

.logo img:hover{
    transform: scale(1.1);
}

.marcas {
    display: flex;
    gap: 15px;
}

.marcas img {
    height: 50px;
    transition: transform 0.3s;
}

.marcas img:hover {
    transform: scale(1.1);
}

/* Conteúdo principal */
main {
    padding: 30px 0;
}

h1 {
    color: #FF6900;
    text-align: center;
    margin-bottom: 30px;
    
}

.regras {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h2, h3 {
    color: #FF6900;
    margin: 15px 0 10px;
}

.passos p {
    margin-bottom: 10px;
    padding-left: 15px;
}

/* Footer */
footer {
    background-color: #000000;
    padding: 20px 0;
    position: relative; /* necessário para o ::before funcionar */
    margin-top: 40px;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #FF6900, #FFA500);
}

.conteudo-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo {
    height: 60px;
}

.regras h3 {
    color: #FF6900;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 20px;
    color: #888;
    font-size: 0.9em;
    text-align: center;
}

.contato h3:hover{
    text-decoration: underline;
}

.botao-topo {
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  font-weight: bold;
}


